/**
    @name:公共样式以及头部的样式
    @Author:黄典
    @Email:870003719@qq.com
    @Date:2016年6月27日 上午
*/

/*公共样式*/
*{
    margin: 0;
    padding:0;
}
html{
    height:100%;
    font-size: 50px;
}
body{
    height:100%;
    min-width: 320px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .28em;
    line-height: 1;
    color: #333;
    background-color: #f0efed;
}
img{
    display: block;
}
input{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
/*头部公共样式*/
.header{
    height: 1.01rem;
    color: #fff;
    background: #06c1ae;
    border-bottom: 1px solid #21897d;
    display: -webkit-box;
    display: -moz-box;
    /*display: -o-box;*/
    display: -ms-flexbox;
    display: flex;
}
.header .h-left{
    height: 1.01rem;
    line-height: 1.01rem;
}
.header .h-left .react{
    height: 1rem;
    width: .45rem;
    line-height: 1rem;
    padding: 0 .3rem;
    display: block;
}
.header .h-left .react i{
    width: .45rem;
    height: .45rem;
    vertical-align: middle;
    font-size: 2em;
    color: #fff;

}
.header .h-center{
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    /*-o-box-flex: 1;*/
    -ms-flex: 1;
    flex: 1;
    font-size: .36rem;
    font-weight: 400;
    text-align: center;
    line-height: 1rem;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.header .h-right{
    height: 100%;
}
.header .h-right .react{
    display: inline-block;
    height: 100%;
    text-align: center;
    width: .94rem;
    font-size: .2rem;
    line-height: 1rem;
    color: #fff;
}
.header .h-right .react:last-child{
    margin-right: .04rem;
}
.header .h-right .react .h-icon{
    display: inline-block;
    font-size: .2rem;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
}
.header .h-right .react i{
    display: block;
    margin: auto;
    margin-bottom: .12rem;
    font-size: .45rem;
}