.detail-box{
    width:100%;
}
.details .deal-details{
    border-top: 1px solid #DDD8CE;
    border-bottom: 1px solid #DDD8CE;
    margin-top: .2rem;
    margin-bottom: 0;
    background-color: #fff;
}
.imt {
    font-size: .34rem;
    padding: .28rem .2rem .2rem .2rem;
    color: #333;
    border-bottom: 1px solid #DDD8CE;
}
.details .deal-details .detail-title{
    background-color: #F8F9FA;
    padding: .2rem;
    font-size: .3rem;
    color: #000;
    border-bottom: 1px solid #ccc;
}
.details .deal-details .group-box{
    border-bottom: 1px solid #DDD8CE;
}
.details .deal-details .detail-title p {
    text-align: center;
}
.details .deal-details dl dd {
    margin: 0;
    border-bottom: 1px solid #DDD8CE;
    overflow: hidden;
    font-size: inherit;
    font-weight: 400;
}
.details .deal-details dd dl {
    margin: 0;
    margin-bottom: -1px;
    padding-left: .2rem;
    border:0;
}
.details .deal-details dd dl .detail-group {
    font-size: .3rem;
    height:.86rem;
    display:-webkit-box;
}
.details .deal-details dd dl .detail-group .left{
    display: block;
    padding: .28rem 0;
    padding-right: .2rem;
    -webkit-box-flex: 1;
    height:.3rem;
}
.details .deal-details dd dl .detail-group .middle{
    display: block;
    padding: .28rem .2rem;
    border-left: 1px solid #ccc;
}
.details .deal-details dd dl .detail-group .right{
    display: block;
    padding: .28rem .2rem;
    border-left: 1px solid #ccc;
    width: 1.2rem;
}
.dd-padding {
    padding: .28rem .2rem;
    border-bottom: 1px solid #DDD8CE;
}
.detail-box .ul-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ul-list{
    list-style-type: initial;
    padding-left: .4rem;
}
.ul-list li {
    list-style:inside;
    font-size: .3rem;
    margin: .1rem 0;
    line-height: 1.5;
}
.db{
    height: .8rem;
    line-height: .8rem;
    font-size: .3rem;
    border-bottom: 0;
}
.db a{
    color: #06c1ae;
    padding: 0 0.2rem;
    display:block;
    height:100%;
}
.more{
    position: relative;
    padding-right: .3rem;
    width: 100%;
    box-sizing: border-box;
}
.more::after {
    position: absolute;
    right: .05rem;
    top: 50%;
    display: block;
    content: '';
    width: .6em;
    height: .6em;
    border-left: .04rem solid #06c1ae;
    border-bottom: .04rem solid #06c1ae;
    transform: translateY(-50%) scaleY(0.7) rotateZ(-135deg);
}
.buy-know{
    margin-top: .2rem;
}
.buy-know .deal-terms{
    font-size: .3rem;
    background:#fff;
}
.buy-know .deal-terms .dd-padding{
    padding-top: 0;
    padding-bottom: 0;
}
.buy-know .deal-terms .dd-padding ul .knows:first-child{
    margin-top:.4rem;
}
.buy-know .deal-terms .dd-padding ul .knows{
    margin-bottom:.4rem;
}
.buy-know .deal-terms .tip-title{
    font-size:.3rem;
    color: #ff9900;
}
.buy-know .deal-terms .tip-des{
    padding-top: 0.2rem;
    padding-left: 0.16rem;
    font-size: 0.3rem;
    color: #333333;
}
.buy-know .deal-terms ul.ul-way{
    margin: 0;
    padding: 0;
    list-style-type: initial;
    padding-left:.46rem;
}
.buy-know .deal-terms .ul-way li {
    margin: 0;
    list-style:outside;
    padding-top: 0.2rem;
    font-size: .3rem;
    line-height: 1.5;
}
.buy-know .deal-evaluate{
    border-top: 1px solid #DDD8CE;
    margin-top: .2rem;
    margin-bottom: 0;
    background:#fff;
}
.buy-know .deal-evaluate dd{
    margin: 0;
    border-bottom: 1px solid #DDD8CE;
    overflow: hidden;
    font-weight: 400;
}
.buy-know .deal-evaluate dd dl{
    margin: 0;
    margin-bottom: -1px;
    padding-left: .2rem;
    border: 0;
}
.buy-know .deal-evaluate dd dl dt{
    padding:.28rem .2rem .2rem 0;
    height:.36rem;
    font-size: .34rem;
    color: #333;
}
.buy-know .deal-evaluate dd dl dt a{
    color:#333;
}
.pull-right{
    float:right;
}
.stars{
    display: inline-block;
}
.stars i {
    margin-right: .2em;
    vertical-align: 0;
}
.text-icon {
    vertical-align: middle;
    font-style: normal;
}
.text-icon.icon-star:after {
    content: '★';
    color: #f90;
}
.text-icon-grey{
    vertical-align: middle;
    font-style: normal;
}
.text-icon-grey:after {
    content: '★';
    color: #E2E2E2;
}
.buy-know .deal-evaluate .dd-padding:first-of-type{
    padding-left: 0;
    margin: 0;
    border-top: 1px solid #DDD8CE;
    overflow: hidden;
    font-size: inherit;
    font-weight: 400;
}
.buy-know .deal-evaluate .dd-padding{
    padding-left: 0;
    margin: 0;
    border-bottom: 1px solid #DDD8CE;
    overflow: hidden;
    font-size: inherit;
    font-weight: 400;
}
.buy-know .deal-evaluate .dd-padding .evacard .user-wrapper{
    height:.73rem;
    position:relative;
}
.evacard .user-wrapper .user-pic{
    position: absolute;
    width: .73rem;
    height: .73rem;
    vertical-align: top;
    overflow: hidden;
}
.evacard .user-wrapper .user-pic img{
    border-radius: 50%;
    width: 100%;
}
.evacard .user-wrapper .user-info-text{
    margin-left: .8rem;
    font-size: .24rem;
    color: #999;
    vertical-align: top;
    height: .73rem;
    overflow: hidden;
}
.evacard .user-wrapper .user-info-text .userinfo{
    margin-bottom: .12rem;
    font-size: .24rem;
    color: #666;
}
.evacard .user-wrapper .user-info-text .score{
    margin-bottom: .4rem;
    font-size: .24rem;
}
.evacard .user-wrapper .user-info-text .score .stars{
    font-size: .28rem;
    margin-right: .2rem;
    vertical-align: bottom;
}
.evacard .user-wrapper .user-info-text .score .time{
    color: #999;
}
.evacard .user-wrapper .serious-eva {
    position: absolute;
    width:1rem;
    height:1rem;
    top: -.18rem;
    right: .25rem;
}
.evacard .user-wrapper .serious-eva img{
    height:1rem;
    width:1rem;
    vertical-align: middle;
    border: 0;
}
.evacard .comment{
    margin-top: .3rem;
    margin-bottom: .22rem;
    font-size: .3rem;
    position:relative;
}
.evacard .comment  .eva{
    line-height: 1.41;
    text-align: justify;
    margin: -.2em 0;
    word-break: break-all;
}
.evacard .comment .iconfont{
    vertical-align: middle;
    font-style: normal;
    display:block;
    position:absolute;
    right: 11px;
    bottom: 5px;
    font-size: .2rem;
    color: #ccc;
}
.evacard .pics{
    margin-bottom: .26rem;
    height:1.24rem;
}
.evacard .pics .pic-container {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    margin-bottom: .14rem;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
}
.evacard .where{
    color: #666;
}
.similar-list .xianguan{
    border-top: 1px solid #DDD8CE;
    border-bottom: 1px solid #DDD8CE;
    margin-top: .2rem;
    margin-bottom: 0;
    background-color: #fff;
}
.similar-list dd{
    margin: 0;
    overflow: hidden;
    font-size: inherit;
    font-weight: 400;
    position: relative;
}
.similar-list dd dl {
    margin: 0;
    margin-bottom: -1px;
    padding-left: .2rem;
    border: 0;
}
.similar-list dd dl dt {
    font-size: .34rem;
    color: #333;
    border-bottom: 1px solid #DDD8CE;
    padding: .28rem .2rem .2rem 0;
}
.similar-list dd dl .cloud-tag{
    padding: .28rem .2rem;
}
.similar-list dd dl .cloud-tag a{
    float: left;
    margin-bottom: 0.14rem;
    margin-right: 0.1rem;
    font-size: 0.28rem;
    padding: .15rem .11rem;
    border-radius: .04rem;
}
.similar-list dd dl .cloud-tag .tag-category {
    color: #e17f1e;
    background: #ffe195;
}
.recomand{
    margin-top: .2rem;
}
.recomand dl:first-child{
    margin: 0;
    border-top: 0;
}
.recomand .list-box{
    border-bottom: 1px solid #DDD8CE;
    background-color: #fff;
    padding-left:.2rem;
}
.recomand .list-box .recomand-dd {
    margin: 0;
    /*border-bottom: 1px solid #DDD8CE;*/
    overflow: hidden;
    font-size: inherit;
    font-weight: 400;
    position: relative;
}
.recomand .list-box .recomand-dd dl dt {
    font-size: .34rem;
    padding: .28rem .2rem .2rem 0;
    color: #333;
    border-bottom: 1px solid #DDD8CE;
}
.recomand .list-box .recomand-dd  .tuan-dd{
    margin: 0;
    border-bottom: 1px solid #DDD8CE;
    height:1.36rem;
    overflow: hidden;
    font-size: inherit;
    font-weight: 400;
    position: relative;
}
.recomand .list-box .tuan-dd .tuangou{
    height: .8rem;
    display:block;
    padding: .28rem .2rem .28rem 0;
}
.recomand dd .tuangou .dealcard{
    position: relative;
    box-sizing: border-box;
    margin: -.08rem 0;
    height:.96rem;
}
.recomand .tuangou .dealcard .tuan-icon{
    position: absolute;
    top: .03rem;
    display:inline-block;
    background-color: #06c1ae;
    color: #fff;
    font-size: .24rem;
    padding: .05rem;
    border-radius: .06rem;
    vertical-align: text-bottom;
    line-height: 1;
}
.recomand .tuangou .dealcard .dealcard-right {
    margin-left: .45rem;
    margin-right: .2rem;
    padding-bottom: .54rem;
    height: auto;
}
.recomand .tuangou .dealcard .dealcard-right .text-block{
    height: auto;
    display: block;
    margin-bottom: 0;
    font-size: .3rem;
    color: #666;
}
.recomand .tuangou .dealcard .dealcard-right .price{
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #666;
}
.recomand .tuangou .dealcard .dealcard-right .price .strong{
    font-size: .38rem;
    color: #06c1ae;
}
.recomand .tuangou .dealcard .dealcard-right .price .strong-color{
    font-size: .26rem;
    color: #06c1ae;
}
.recomand .tuangou .dealcard .dealcard-right .price .tag{
    border: .02rem solid #f90;
    color: #f90;
    line-height: 1.5;
    display: inline-block;
    padding: 0 .06rem;
    font-size: .22rem;
    border-radius: .06rem;
}
.recomand .tuangou .dealcard .dealcard-right .price .line-right{
    position: absolute;
    top: .04rem;
    right: .46rem;
    font-size: .24rem;
    color:#666;
 }

.group-container{
    border-top: 1px solid #DDD8CE;
    border-bottom: 1px solid #DDD8CE;
    margin-top: 10px;
    background: #fff;
    padding-left: 10px;
}
.group-container .cnxh{
    padding: 14px 10px 10px 0;
    border-bottom:1px solid #DDD8CE;
}
.group-container ul li{
    list-style: none;
}
.group-container a{
    padding: 14px 10px 10px 0;
    display: block;
    text-decoration: none;
    border-bottom:1px solid #DDD8CE;
}
.group-container .imgbox1{
    width: 90px;
    height: 82px;
    float: left;
}
.group-container .imgbox1 img{
    width: 100%;
}
.group-container .pright{
    margin-left: 100px;
}
.group-container .pright .pright-top{
    padding-top: 5px;
    margin-bottom: 6px;
    color: #333;
    font-size: 15px;
    overflow: hidden;
}
.group-container .pright .pright-middle{
    font-size: 12px;
    color: #666;
    margin-bottom: 8px;
    height: 34px;
}
.group-container .pright .pright-bottom .strong{
    color: #06c1ae;
    font-size: 19px;
}
.group-container .pright .pright-bottom .strong-color{
    color: #06c1ae;
    font-size: 13px;
}
.group-container .pright .pright-bottom .tag{
    color: #666;
    font-size: 12px;
}
.group-container .pright .pright-bottom .line-right{
    float: right;
    font-size: 12px;
    color: #666;
}

.deals-list .list-in .pager{
    padding: .16rem .2rem .16rem 0;
}
.btn{
    display: inline-block;
    text-align: center;
    height: .6rem;
    line-height: .6rem;
    border-radius: .06rem;
    font-size: .28rem;
    padding: 0 .3rem;
    vertical-align: middle;
    box-sizing: border-box;
}
.btn-weak{
    border: .02rem solid #06c1ae;
    padding: 0 .3rem;
    background: 0;
    color: #06c1ae;
}
.btn-disabled{
    background: #dcdcdc;
    color: #999;
    border: 0;
}
.deals-list .list-in .pager .pager-current{
    color: #666;
    display: inline-block;
    width: .45rem;
    text-align: center;
}
.nav-bread{
    padding: .3rem .2rem 0 .2rem;
    margin-bottom: .3rem;
    font-size: .24rem;
    color: #06c1ae;
}
footer{
    padding: 0 .2rem .4rem .2rem;
}
footer .footer-bar{
    margin-bottom: .4rem;
    font-size: .28rem;
}
footer .footer-bar .space{
    display: inline-block;
    width: .12rem;
}
footer .footer-bar .pull-right{
    float: right;
}
footer .footer-bar .pull-right .city-btn{
    width: 1.8rem;
}
footer .footer-nav{
    margin-bottom: .18rem;
}
footer .footer-nav ul{
    padding: .18rem 0;
    font-size: .24rem;
    display: -webkit-flex;
}
footer .footer-nav ul li{
    -webkit-box-flex: 1;
    width: 100%;
    border-right: .02rem solid #666;
    text-align: center;
}
footer .footer-nav ul li:last-child{
    border: 0;
}
footer .footer-nav ul li a{
    color: #06c1ae;
}
footer .footer-links{
    font-size: .24rem;
    margin: .3rem .2rem;
    text-align: center;
}
footer .footer-links a{
    color: #06c1ae;
}
footer .footer-copyright{
    color: #999;
    font-size: .22rem;
    text-align: center;
    position: relative;
}
footer .footer-copyright .hr{
    width: 100%;
    position: absolute;
    top: 50%;
    border-top: 1px solid #999;
}
footer .footer-copyright .footer-text{
    padding: 0 .3rem;
    background-color: #f0efed;
    position: relative;
}
footer .footer-copyright .footer-text a{
    color: #999;
}

/*回到顶部*/
.gotop{
    position: fixed;
    right: .3rem;
    bottom: 1.5rem;
    width: .86rem;
    height: .86rem;
    line-height: .86rem;
    background: #06c1ae;
    z-index: 999;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    text-align: center;
    display: none;
}
.gotop i{
    font-size: .5rem;
}
