

.detail-box .feedback{
    border-top: 1px solid #DDD8CE;
    border-bottom: 1px solid #DDD8CE;
    margin-top: .4rem;
    background-color: #fff;
    /*height:3.79rem;*/
    margin-bottom: 0;
    overflow: hidden;
}
.feedback .react{
    display: block;
    padding: .28rem .2rem;
    text-decoration: none;
    font-weight: 400;
    height:0.36rem;
    border-bottom: 1px solid #DDD8CE;
    position: relative;
}
.feedback .react .left{
    float: left;
    color: #f90;
    height:0.36rem;
    line-height:0.36rem;
}
.feedback .react .left i{
    font-style: normal !important;
}
.feedback .react .left .aa-color{
    color: #999;
}
.feedback .react .right{
    color: #999;
     height:0.34rem;
    line-height: .36rem;
    float: right!important;
    margin-right: .2rem;
}
.feedback .react .right .sb{
    border-left: .04rem solid #999;
    border-bottom: .04rem solid #999;
    position: absolute;
    right: .25rem;
    top: 50%;
    display: block;
    content: '';
    width: .6em;
    height: .6em;
    border-left: .04rem solid #999;
    border-bottom: .04rem solid #999;
    -webkit-transform: translateY(-50%) scaleY(0.7) rotateZ(-135deg);
}

.feedback .cloud-tag{
    border-bottom: 1px solid #DDD8CE;
    overflow: hidden;
    font-size: inherit;
    font-weight: 400;
    padding: .28rem .2rem;
}
.feedback .cloud-tag a{
    text-decoration: none;
    color: #FDB338;
    border: 2px solid #FDB338;
    border-radius: .06rem;
    float: left;
     height: 0.28rem;
    margin-bottom: 0.14rem;
    margin-right: 0.1rem;
     line-height: 0.28rem;
    font-size: 0.28rem;
    padding: .15rem .11rem;
}
.feedback .cloud-tag .cloud-tag-color{
    color: #999;
    border: 2px solid #ACACAC;
}
.stars i {
    margin-right: .2em;
    vertical-align: 0;
}
.text-icon {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
}
.text-icon.icon-star:after {
    content: '★';
}
.text-icon.icon-star-gray:after {
    color: #E2E2E2;
    content: '★';
}