.detail-primary{
    width: 960px;
    margin: 0 auto;
    margin-top: 50px;
}
/*基本详情左边*/
.detail-primary .p-left{
    float: left;
}

.detail-primary .p-left .bigimg{
    width: 400px;
    height: 600px;
}
.detail-primary .p-left .bigimg img{
    width:400px;
}
/*下面的小图片*/
.detail-primary .p-left .smallimg{
    margin-top: 10px;
    padding: 0 32px;
    overflow: hidden;
    position: relative;
}
/*小图片左右的小箭头*/
.detail-primary .p-left .smallimg .small-jtz{
    background: url(../img/detail-xiaotubiao.png) no-repeat -10px -256px;
    width: 12px;
    height: 22px;
    position: absolute;
    top: 17px;
    left: 0px;
    display: none;
}
.detail-primary .p-left .smallimg .small-jty{
    background: url(../img/detail-xiaotubiao.png) no-repeat -10px -217px;
    width: 12px;
    height: 22px;
    position: absolute;
    top: 17px;
    right: 0px;
}
/*小图片列表*/
.detail-primary .p-left .smallimg .smallimgbox{
    width: 350px;
    height: 59px;
    overflow: hidden;
}
.detail-primary .p-left .smallimg ul{
    margin: 0 auto;
    width: 9999px;
}
.detail-primary .p-left .smallimg li{
    float: left;
    width:60px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    opacity: 0.5;
}
.detail-primary .p-left .smallimg li img{
    width: 60px;
}
.detail-primary .p-left .smallimg .selected{
    opacity: 1;
}
.detail-primary .p-left .smallimg .selected i{
    display: inline-block;
    height: 2px;
    width: 60px;
    position: absolute;
    left: 0;
    bottom: 6px;
    background: #ef2f23;
}


/*基本详情右边*/
.detail-primary .p-right{
    padding: 0 90px 25px 431px;
}
.detail-primary .p-right h1{
    font-family: 'Microsoft YaHei',arial;
    color: #333;
    width: 537px;
    margin-bottom: 15px;
    font-size:24px;
    line-height: 25px;
    font-weight: bold;
}
.detail-primary .p-right .left-text{
    color: #999;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    float: left;
}

/*右边详情 价格部分*/

.detail-primary .p-right .goods-price{
    width: 540px;
    margin-left: -10px;
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    background: url(../img/goods-pricebg.png) repeat-y;
    background-position: 0 top;
}
.detail-primary .p-right .goods-price .yuanjia .right-yj{
    font-family: Microsoft YaHei,arial;
    font-size: 14px;
    color: #999;
    height: 32px;
    line-height: 32px;
    text-decoration: line-through;
    padding-left: 14px;
}
.detail-primary .p-right .goods-price .xianjia .right-xj{
    color: #ef2f23;
    font-size: 24px;
    vertical-align: middle;
    font-weight: 700;
    padding-left: 14px;
}
.detail-primary .p-right .goods-price .xianjia .pj{
    line-height: 32px;
    color: #999;
    float: right;
}
.detail-primary .p-right .goods-price .xianjia .pj i{
    color: #333;
    margin-right: 10px;
}
.detail-primary .p-right .goods-price .youhui .yh-box{
    float: left;
    overflow: hidden;
    height:32px;
    line-height: 32px;
}
.detail-primary .p-right .goods-price .youhui .more{
    background: url(../img/detail-xiaotubiao.png) no-repeat -10px -32px ;
    display: inline-block;
    width: 10px;
    height: 6px;
    margin-top: 14px;
    margin-left: 5px;
    cursor: pointer;
}
/*优惠的下拉*/
.detail-primary .p-right .goods-price .youhui{
    position: relative;
    height:32px;
}
.detail-primary .p-right .goods-price .youhui .yh-xiala{
    position: absolute;
    top: 30px;
    left: 70px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #5a5a5a;
    padding: 10px;
    z-index: 998;
    min-width: 220px;
    display: none;
}
.detail-primary .p-right .goods-price .youhui .yh-xiala li{
    height: 25px;
}

.detail-primary .p-right .goods-price .youhui .yh-xiala .lq{
    color: #ef2f23;
    cursor: pointer;
    float: right;
    margin-right: 10px;

}

/*右边详情 下面*/
/*客服*/
.detail-primary .p-right .goods-kefu{
    margin-top: 15px;
}
.detail-primary .p-right .goods-kefu .left-text{
    position: absolute;
    line-height: 19px;
    height:19px;
}
.detail-primary .p-right .goods-kefu .right-sl{
    background: #fff url(../img/lianxikefu.gif) no-repeat 0 0;
    width: 85px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 70px;
}
/*款式*/
.detail-primary .p-right .goods-kuans{
    margin-top: 15px;
    position: relative;
}
.detail-primary .p-right .goods-kuans .left-text{
    position: absolute;
    line-height: 19px;
    height:19px;
}
.detail-primary .p-right .goods-kuans img{
    width: 45px;
    height: 45px;
    vertical-align: middle;
}
.detail-primary .p-right .goods-kuans img:hover{
    border: 2px solid #666;
    margin: -2px;
}
.detail-primary .p-right .goods-kuans .selected{
    border: 2px solid #666;
    line-height: 28px;
    position: relative;
    margin: -1px 14px 4px -1px;
}
.detail-primary .p-right .goods-kuans .selected b{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 11px;
    height: 11px;
    background: url(../img/kuansxuanz.png) 100% 100% no-repeat;
}

.detail-primary .p-right .goods-kuans ul{
    display: inline-block;
    margin-left: 70px;
    overflow: hidden;
}
.detail-primary .p-right .goods-kuans li{
    float: left;
    margin: 0 15px 5px 0;
    cursor: pointer;
    border: 1px solid #ddd;
}

/*尺寸*/
.detail-primary .p-right .goods-size{
    margin-top: 15px;
    position: relative;
}
.detail-primary .p-right .goods-size .left-text{
    position: absolute;
    line-height: 19px;
    height:19px;
}
.detail-primary .p-right .goods-size ul{
    display: inline-block;
    margin-left: 70px;
    overflow: hidden;
}
.detail-primary .p-right .goods-size li{
    float: left;
    margin: 0 10px 5px 0;
    cursor: pointer;
    padding: 0 10px;
    font-weight: 700;
    line-height: 28px;
    border: 1px solid #ddd;
}
.detail-primary .p-right .goods-size li:hover{
    border: 2px solid #666;
    margin: -1px 9px 4px -1px;
}
.detail-primary .p-right .goods-size .selected{
    border: 2px solid #666;
    position: relative;
    margin: -1px 9px 4px -1px;
}
.detail-primary .p-right .goods-size .selected b{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 11px;
    height: 11px;
    background: url(../img/kuansxuanz.png) 100% 100% no-repeat;
}


/*数量*/
.detail-primary .p-right .goods-number{
    margin-top: 15px;
    position: relative;
    height: 27px;
}
.detail-primary .p-right .goods-number .left-text{
    position: absolute;
    line-height: 19px;
    height:19px;
}
.detail-primary .p-right .goods-number .numbox{
    position: relative;
    width: 96px;
    height: 25px;
    border: 1px solid #ddd;
    margin-left: 70px;
    float: left;
}
.detail-primary .p-right .goods-number .numbox .num-reduce{
    float: left;
    width: 24px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    background: url(../img/detail-xiaotubiao.png) no-repeat -3px 2px;
    opacity: .3;
}
.detail-primary .p-right .goods-number .numbox .num-input{
    width: 44px;
    text-align: center;
    color: #000;
    font-size: 14px;
    border: 0;
    height: 25px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    float: left;
    background: none;

}
.detail-primary .p-right .goods-number .numbox .num-add{
    float: left;
    width: 24px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    background: url(../img/detail-xiaotubiao.png) no-repeat -3px -78px;

}
.detail-primary .p-right .goods-number .goods-stock{
    float: left;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    color: #999;
}

/*购买*/
.detail-primary .p-right .goods-buy{
    margin-top: 15px;
    margin-left: 60px;
    height:50px;
    width:477px;
}

.detail-primary .p-right .goods-buy .buy-now{
    width: 200px;
    background: #ef2f23;
    height: 50px;
    float: left;
    text-align: center;
    font: 20px Microsoft YaHei;
    color: #fff;
    margin-right: 10px;
    line-height: 50px;
}
.detail-primary .p-right .goods-buy .buy-after{
    color: #333;
    border: 1px solid #ddd;
    width: 198px;
    float: left;
    text-align: center;
    font: 20px Microsoft YaHei;
    background: #fff;
    height: 48px;
    line-height: 48px;
}
/*分享*/
.detail-primary .p-right .goods-share{
    margin-top: 15px;
    margin-left: 60px;
    height:26px;
    width:477px;
    line-height: 26px;
}
.detail-primary .p-right .goods-share .xihuan{
    padding: 0 13px;
    width: 27px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ddd;
    border-radius: 24px;
    color: #999;
    float: left;
    cursor: pointer;
    margin-right: 10px;
    background: url(../img/detail-xiaotubiao.png) no-repeat 0px -109px;
}
.detail-primary .p-right .goods-share .xihuan:hover{
    border: 1px solid #ef2f23;
}
.detail-primary .p-right .goods-share .xihuan span{
    display: inline-block;
    margin-left: 20px;
}
.detail-primary .p-right .goods-share .fenxiang{
    padding: 0 13px;
    width: 39px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ddd;
    border-radius: 24px;
    color: #999;
    float: left;
    cursor: pointer;
    margin-right: 10px;
    background: url(../img/detail-xiaotubiao.png) no-repeat 3px -49px;
    position: relative;
}
.detail-primary .p-right .goods-share .fenxiang span{
    display: inline-block;
    margin-left: 15px;
}
.detail-primary .p-right .goods-share a{
    color: #999;
}

/*分享的下拉*/
.detail-primary .p-right .goods-share .fenxiang .fx-xiala{
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 998;
    padding-top: 10px;
    background: url(../img/detail-xiaotubiao.png) no-repeat -10px -505px ;
    width: 108px;
    height: 45px;
    display: none;
}

/*商品特色*/
.detail-primary .p-right .goods-tes{
    margin-top: 20px;
    position: relative;
    height: 24px;
}
.detail-primary .p-right .goods-tes .left-text{
    position: absolute;
    line-height: 19px;
    height:19px;
}
.detail-primary .p-right .goods-tes .right-ts{
    margin-left: 70px;
}
.detail-primary .p-right .goods-tes .right-ts img{
    vertical-align: middle;
}

/*服务承诺*/
.detail-primary .p-right .goods-commitment{
    margin-top: 15px;
    position: relative;
    height: 24px;
}
.detail-primary .p-right .goods-commitment .left-text{
    position: absolute;
    line-height: 19px;
    height:19px;
}
.detail-primary .p-right .goods-commitment ul{
    margin-left: 70px;
    width: 500px;
}
.detail-primary .p-right .goods-commitment li{
    float: left;
    margin-right: 20px;
}
.detail-primary .p-right .goods-commitment li a{
    color: #666;
}
.detail-primary .p-right .goods-commitment li img{
    vertical-align: middle;
}
/*支付方式*/
.detail-primary .p-right .goods-zhifu{
    margin-top: 15px;
    position: relative;
    height: 24px;
}
.detail-primary .p-right .goods-zhifu .left-text{
    position: absolute;
    line-height: 19px;
    height:19px;
}
.detail-primary .p-right .goods-zhifu .right-zf{
    display: inline-block;
    width: 131px;
    height: 20px;
    background: url(../img/detail-xiaotubiao.png) no-repeat -38px -295px;
    margin-left: 70px;
}
