/*登陆条*/
.loginbar{
    width: 100%;
    height: 31px;
    background: #F2F2F2;
    border-bottom: 1px solid #ddd;
}
.loginbar .text{
    width: 960px;
    margin: 0 auto;
}
.loginbar .text .top-shouye{
    background: url(../img/top-shouye.png) no-repeat 0 -5px;
    padding: 0 20px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    margin-left: 20px;
    color: #333;
}
.loginbar .text div{
    float: right;
}

.loginbar ul li{
    float: left;
    height: 31px;
    line-height: 31px;
    background: #f2f2f2;
    font-size: 12px;
    position: relative;
}

.loginbar ul li a{
    text-decoration: none;
    color: #666;
    font-size: 12px;
    padding-left: 15px;

}

.loginbar ul li a:visited{
    color: #666;
}

.loginbar ul li .leftb4{
    border-left: 1px solid #ddd;
    padding-left: 35px;
}
.loginbar ul li .leftb4-jt{
    width: 7px;
    height: 5px;
    background:url(../img/jiantou.png) 0 0;
    display: inline-block;
    margin-left: 5px;
}

.loginbar ul li .leftb3{
    border-left: 1px solid #ddd;
    padding-left: 18px;
}

.loginbar ul li .leftb2{
    border-left: 1px solid #ddd;
    padding-left: 30px;
    padding-right: 18px;
}
.loginbar ul li .leftb1{
    border-left: 1px solid #ddd;
    padding-left: 30px;
}




.loginbar .xiaodian{
    background: url(../img/xiaotubiao.png) no-repeat 28px -250px;
    padding-left: 18px;
}

.loginbar .gouwuche{
    background: url(../img/xiaotubiao.png) no-repeat 25px -104px;
    padding-left: 20px;
}

.loginbar .dingdan{
    background: url(../img/xiaotubiao.png) no-repeat 27px -212px;
    padding-left: 20px;
}



/*下拉的子菜单*/

.loginbar ol {
    display: none;
    border-radius: 0 0 3px 3px;
    border: 1px solid #ddd;
    border-top: none;
    width:100px;
}
.loginbar .ol-01{
    position: absolute;
    top: 31px;
    right: 0px;
    z-index:999;
}
.loginbar .ol-02{
    position: absolute;
    top: 31px;
    right: -18px;
    z-index:999;
}
.loginbar .ol-03{
    position: absolute;
    top: 31px;
    right: 0px;
    z-index:999;
}

.loginbar ol li {
    width: 100px;
    height: 31px;
    text-align: center;
}

.loginbar ol li a {
    color: #000;
    text-decoration: none;
    width: 100px;
    height: 31px;
    display: inline-block;
    padding:0;

}

.loginbar ol li a:hover {
    background: #cacaca;
}

.loginbar ol .ol-gouwuche {
    width: 250px;
    height: 50px;
    line-height: 50px;
    color: #b6b6b6;
    margin-left: -100px;

}






/*顶部搜索部分*/
.detail-top-search{
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.detail-top-search .ts-main{
    width:960px;
    height: 70px;
    margin:0 auto;
}
/*左边的部分 头像*/
.detail-top-search .ts-left{
    width:475px;
    height:70px;
    float: left;
    position: relative;
}
.detail-top-search .ts-left .l-tuxiang{
    float: left;
    margin-left: 20px;
}
.detail-top-search .ts-left .l-tuxiang img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 15px;
}
/*左边的部分 文字信息*/
.detail-top-search .ts-left .l-text{
    padding-left: 10px;
    margin-top: 15px;
    width: 240px;
    float: left;
}
.detail-top-search .ts-left .l-text .t-dianming{
    /*overflow: hidden;*/
    height: 20px;
    line-height: 20px;
    display: block;
    font-weight: 400;
    font-size: 14px;
}
.detail-top-search .ts-left .l-text .t-dianming a{
    float: left;
    margin-right: 5px;
    color: #333;
}
.detail-top-search .ts-left .l-text .t-dianming img{
    height:16px;
    vertical-align: middle;
}
.detail-top-search .ts-left .l-text .t-pingfen{
    padding-bottom: 20px;
}
.detail-top-search .ts-left .l-text .t-pingfen span{
    color: #666;
    margin-right: 5px;
}
.detail-top-search .ts-left .l-text .t-pingfen span b{
    color: #ef2f23;
    font-weight: 400;
    padding-left: 2px;
}

/*左边的部分 按钮*/
.detail-top-search .ts-left .l-button{
    margin-top: 24px;
    float: left;
}
.detail-top-search .ts-left .l-button .sc{
    float: left;
    padding: 0 12px 0 22px;
    background: #fff url(../img/top-xiaotubiao.png) no-repeat 4px -48px;
    font-size: 12px;
    color: #666;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    border: 1px solid #ddd;
}
.detail-top-search .ts-left .l-button .xl{
    float: left;
    background: #fff url(../img/charimg.gif) no-repeat 0 0;
    height: 20px;
    width: 58px;
    border: 1px solid #ddd;
}
.detail-top-search .ts-left .l-button .jt{
    float: left;
    width: 25px;
    height: 46px;
    background: url(../img/top-jiantou.png) no-repeat;
    margin-left: 5px;
    margin-top: 9px;
}
.detail-top-search .ts-left .fgx{
    float: right;
    width: 1px;
    background: #eee;
    margin-top: 15px;
    height: 40px;
}
/*鼠标悬停 出现的下拉菜单*/

.detail-top-search .ts-left .l-dropmenu{
    position: absolute;
    left:0;
    top:71px;
    z-index: 999;
    width:473px;
    overflow: hidden;
    background-color: #f6f6f6;
    border: 1px solid #ededed;
    border-top: 0;
    display: none;
}
/*下拉左边*/
.detail-top-search .ts-left .l-dropmenu .dm-fl{
    float: left;
    width: 220px;
    overflow: hidden;
    border-right: 1px solid #dedede;
}
.detail-top-search .ts-left .l-dropmenu .dm-fl .ul1{
    padding: 5px 0;
}
.detail-top-search .ts-left .l-dropmenu li{
    line-height: 26px;
}
.detail-top-search .ts-left .l-dropmenu .dm-fl .ul1 li .tag{
    width: 85px;
    display: inline-block;
    text-align: right;
    color: #999;
    margin-right: 2px;
}
.detail-top-search .ts-left .l-dropmenu .dm-fl .ul1 .company-info .tag{
    float: left;
}
.detail-top-search .ts-left .l-dropmenu .dm-fl .ul1 li .c-name{
    padding-left: 87px;
    padding-right: 10px;
}
.detail-top-search .ts-left .l-dropmenu .dm-fl .ul1 .tc{
    text-align: center;
    margin-top: 10px;
}
.detail-top-search .ts-left .l-dropmenu .dm-fl .ul1 li .go-detail{
    background-color: #fff;
    border: 1px solid #d5d5d5;
    color: #333;
    display: inline-block;
    width: 100px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 3px;
}
/*下拉右边*/
.detail-top-search .ts-left .l-dropmenu .ul2{
    width: 150px;
    margin: 0 0 5px 15px;
    float: left;
    overflow: hidden;
}
.detail-top-search .ts-left .l-dropmenu .num {
    color: #f36;
}
.detail-top-search .ts-left .l-dropmenu .ul3{
    width: 80px;
    float: left;
    overflow: hidden;
}
.detail-top-search .ts-left .l-dropmenu .ul3 .up{
    background-color: #f36;
    color: #fff;
    padding: 2px;
    margin-right: 5px;
}
.detail-top-search .ts-left .l-dropmenu .ul4{
    padding: 5px 0;
    width: 150px;
    margin-left: 15px;
    border-top: 1px dashed #dedede;
    float: left;
    overflow: hidden;
}
.detail-top-search .ts-left .l-dropmenu .ul4 .low{
    color: #1aca60;
}
.detail-top-search .ts-left .l-dropmenu .ul5{
    padding: 5px 0;
    width: 70px;
    border-top: 1px dashed #dedede;
    float: left;
    overflow: hidden;
}


/*右边搜索框*/
.detail-top-search .ts-right{
    width:447px;
    height:70px;
    float: right;
    margin-top: 18px;
}
.detail-top-search .ts-right .r-text{
    float: left;
    width:274px;
    height: 26px;
    padding: 0 8px;
    line-height: 26px;
    border: 2px solid #ef2f23;

}
.detail-top-search .ts-right .r-quanz{
    border: 0;
    background-color: #ef2f23;
    color: #fff;
    height: 30px;
    width: 72px;
    cursor: pointer;
}
.detail-top-search .ts-right .r-bendian{
    background-color: #fff;
    color: #ef2f23;
    border: 1px solid #ef2f23;
    height: 28px;
    width: 72px;
    cursor: pointer;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    float: right;
    margin-left: 5px;
}

/*上面的图片大广告*/
.top-bannerbox{
    height:120px;
}
.top-banner{
    display: block;
    width: 100%;
    height:150px;
    background:url(../img/top-banner.jpg) no-repeat center;
}

/*上面的导航栏*/
.top-nav{
    width: 100%;
    height: 30px;

    background: rgba(0,0,0,.75);
}
.top-nav .nav-main{
    width: 960px;
    margin: 0 auto;
}
.top-nav .nav-main li{
    float: left;
    font-size: 14px;
    padding: 7px 0;
    position: relative;
}
.top-nav .nav-main li a{
    border-right: 1px solid #5c5c5c;
    display: block;
    color: #fff;
    padding: 0 20px;
    line-height: 16px;

}
.top-nav .nav-main ul .all a{
    padding: 0 38px 0 25px;
    background: url(../img/nav-tubiao.png) no-repeat 86px -191px;
}

/*全部商品的下拉菜单*/
.top-nav .nav-main .all .category-list{
    position: absolute;
    top: 30px;
    left: 0px;
    width: 150px;
    line-height: 32px;
    background-color: rgba(0,0,0,.75);
    display: none;
}
.top-nav .nav-main .all .category-list dd{
    overflow: hidden;
    height: 32px;
    line-height: 32px;

}
.top-nav .nav-main .all .category-list dd a{
    color: #fff;
    font-size: 12px;
    background: url(../img/category-list.png) no-repeat 14px 13px;
    transition: background-color .3s;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0 26px;
}
.top-nav .nav-main .all .category-list dd:hover{
    background: rgba(174,174,174,.75);

}