.detail-content{
    width: 960px;
    margin:0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
}
/*主体左边*/
.detail-content .dct-left{
    width: 200px;
    float: left;
}

/*店铺信息*/
.detail-content .dct-left .shop-info{
    width:198px;
    height:289px;
    border: 1px solid #e5e5e5;
}
/*店名*/
.detail-content .dct-left .shop-info .shop-name-box{
    height:59px;
}
.detail-content .dct-left .shop-info .shop-name{
    text-align: center;
    height: 58px;
    line-height: 58px;
    background: #f6f6f6;
    border-bottom:1px solid #e5e5e5;
    width: 198px;
}
.detail-content .dct-left .shop-info .shop-name .name{
    font-weight: bold;
    font-size: 14px;
    color: #333;
    float: left;
    margin-left: 43px;
}
.detail-content .dct-left .shop-info .shop-name .lt{
    background: url(../img/shop-info-lt.gif) no-repeat;
    width: 16px;
    height: 17px;
    float: left;
    margin-top: 20px;
}
/*店铺评分*/
.detail-content .dct-left .shop-info .shop-grade{
    height: 38px;
    margin-top: 20px;
}
.detail-content .dct-left .shop-info .shop-grade ul{
    width: 168px;
    margin: 0 auto;
}
.detail-content .dct-left .shop-info .shop-grade li{
    float: left;
    width: 41px;
    border-right: 1px dotted #e5e5e5;
    color: #666;
    text-align: center;
}
.detail-content .dct-left .shop-info .shop-grade li .num-def{
    color: #ef2f23;
}
.detail-content .dct-left .shop-info .shop-grade ul .last{
    border:0;
}
/*店铺按钮*/
.detail-content .dct-left .shop-info .shop-btns{
    padding: 16px 0 20px;
}
.detail-content .dct-left .shop-info .shop-btns .btn-fav{
    display: inline-block;
    width: 64px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
}
.detail-content .dct-left .shop-info .shop-btns .btn-goto{
    display: inline-block;
    width: 64px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
}
/*店内搜索*/
.detail-content .dct-left .shop-info .shop-search{
    height:22px;
    padding:16px 0;
    border-top: 1px dotted #e5e5e5;
    border-bottom: 1px dotted #e5e5e5;
}
.detail-content .dct-left .shop-info .shop-search .inptext{
    float: left;
    width: 85px;
    height: 14px;
    line-height: 14px;
    padding: 3px;
    border: 1px solid #ddd;
    border-right-width: 0;
    color: #333;
    margin-left: 20px;
}
.detail-content .dct-left .shop-info .shop-search .inpbtn{
    float: left;
    width: 66px;
    height: 22px;
    line-height: 22px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    background: #333;
}
.detail-content .dct-left .shop-info .shop-support{
    padding: 16px 0;
    cursor: default;
    display: block;
}
.detail-content .dct-left .shop-info .shop-support img{
    display: block;
    margin: 0 auto;
}

/*本店分类*/
.detail-content .dct-left .shop-classify{
    width:198px;
    height:528px;
    border: 1px solid #e5e5e5;
    margin-top: 20px;
}
.detail-content .dct-left .shop-classify h3{
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-family: Microsoft YaHei,arial;
    background: #f6f6f6;
    border-bottom: 1px solid #e5e5e5;
}
.detail-content .dct-left .shop-classify ul{
    margin: 20px 0 20px 20px;
}
.detail-content .dct-left .shop-classify li{
    line-height: 14px;
    margin: -1px 0 16px;
}
.detail-content .dct-left .shop-classify li a{
    display: inline-block;
    width: 155px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    padding-left: 11px;
    color: #666;
    background: url(../img/shop-ul.png) no-repeat 0 -117px;
}

/*看了又看*/
.detail-content .dct-left .shop-locked{
    width:198px;
    border: 1px solid #e5e5e5;
    margin-top: 20px;
    overflow: hidden;
}
.detail-content .dct-left .shop-locked h3{
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-family: Microsoft YaHei,arial;
    background: #f6f6f6;
    border-bottom: 1px solid #e5e5e5;
}
.detail-content .dct-left .shop-locked ul{
    margin-top: 20px;
}
.detail-content .dct-left .shop-locked li{
    overflow: hidden;
    width: 160px;
    margin: 0 auto 30px auto;
}
.detail-content .dct-left .shop-locked li .pic{
    height:240px;
    width: 100%;
    display: block;
}
.detail-content .dct-left .shop-locked li .pic img{
    width:100%;
}
.detail-content .dct-left .shop-locked li .title{
    display: block;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.detail-content .dct-left .shop-locked li .info{
    margin-top: 10px;
    font-family: Microsoft YaHei,arial;
    overflow: hidden;
    font-weight: normal;
    line-height: 14px;
    height: 14px;
}
.detail-content .dct-left .shop-locked li .info .price{
    float: left;
    height: 14px;
    font-size: 14px;
}
.detail-content .dct-left .shop-locked li .info .price span {
    margin-left: 3px;

}
.detail-content .dct-left .shop-locked li .info .fav{
    float: left;
    height: 12px;
    margin-left: 20px;
}
.detail-content .dct-left .shop-locked li .info .fav em{
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../img/shop-ul.png) no-repeat 0 -200px;
}
.detail-content .dct-left .shop-locked li .info .fav span{
    color: #999;
}

/*主体右边*/
.detail-content .dct-right{
    width: 738px;
    float: left;
    border: 1px solid #e5e5e5;
    margin-left: 20px;
}
.detail-content .dct-right .tabbar-box{
    height: 58px;
    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
    width: 738px;
}
.detail-content .dct-right .tabbar-box li{
    float: left;
    width: 149px;
    height: 58px;
    border-right: 1px solid #e5e5e5;
}
.detail-content .dct-right .tabbar-box li em{
    display: inline-block;
    line-height: 12px;
    margin-left: 4px;
    font-family: Microsoft YaHei\,arial;
    font-style: normal;
    font-size: 12px;
    color: #999;
}
.detail-content .dct-right .tabbar-box li a{
    display: block;
    line-height: 54px;
    font-family: Microsoft YaHei\,arial;
    font-size: 16px;
    color: #333;
    text-align: center;
    border-top: 4px solid #f6f6f6;
}
.detail-content .dct-right .tabbar-box .tabbar-gouwuc{
    float: left;
    height:58px;
    width: 288px;
    line-height: 58px;
    color: #333;
    font-size: 20px;
    text-align: center;
    background: #fff;
}
.detail-content .dct-right .tabbar-box .tabbar-gouwuc span{
    display: inline-block;
    width: 23px;
    height: 18px;
    background: url(../img/shop-ul.png) no-repeat 0 -40px;
}

/*选项栏被点击的时候*/
.detail-content .dct-right .tabbar-box li .elect{
    border-top: 4px solid #ef2f23;
    border-bottom: 1px solid #fff;
    background: #fff;
}


/*商品详情 面板*/
.detail-content .dct-right .panel-detail{
    overflow: hidden;
    padding:0  19px;

}
.detail-content .dct-right h1{
    display: inline-block;
    line-height: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #333;
    color: #333;
    font-size: 18px;
    font-family: Microsoft YaHei\,arial;
    margin: 40px 0 20px;
    font-weight:bold;
}
.detail-content .dct-right .panel-detail p{
    line-height: 18px;
    margin: -2px 0 18px;
    color: #666;
    font-size: 14px;
    font-family: Microsoft YaHei\,arial;
}
.detail-content .dct-right .panel-detail .parameter-table td{
    width: 233px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #eee;
    padding: 0 0 0 10px;
    color: #666;
    font-size: 12px;
}
.detail-content .dct-right .panel-detail .imgbox{
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
}
.detail-content .dct-right .panel-detail .imgbox img{
    width: 700px;
    margin-top: 20px;
}

/*尺码说明*/

.detail-content .dct-right .panel-detail .size-table td{
    text-align: center;
    width:233px;
    height: 32px;
    line-height: 32px;
}
.detail-content .dct-right .panel-detail .size-table thead tr{
    height: 32px;
    background: #f2f2f2;
}
.detail-content .dct-right .panel-detail .size-table tbody td{
    border-bottom: 1px solid #f2f2f2;
    color: #666;
}
.detail-content .dct-right .panel-detail .size-text{
    line-height: 16px;
    margin-top: 18px;
    color: #999;
    font-size: 12px;
    font-family: Microsoft YaHei\,arial;
}

/*累计评价*/
.detail-content .dct-right .panel-evaluate{
    overflow: hidden;
    padding: 0 19px;
    display: none;
}


/*单独一栏的本店同类商品*/
.detail-content .dct-right .panel-samegoods{
    overflow: hidden;
    padding: 0 19px;

}
.detail-content .dct-right .panel-samegoods .same-goods ul{
    margin-right: -20px;
    overflow: hidden;
}
.detail-content .dct-right .panel-samegoods .same-goods  li{
    overflow: hidden;
    width: 160px;
    margin: 0 20px 30px 0;
    float: left;
}
.detail-content .dct-right .panel-samegoods .same-goods  .pic{
    height:240px;
    width: 100%;
    display: block;
}
.detail-content .dct-right .panel-samegoods .same-goods  li .pic img{
    width:100%;
}
.detail-content .dct-right .panel-samegoods .same-goods  li .title{
    display: block;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.detail-content .dct-right .panel-samegoods .same-goods  li .info{
    margin-top: 10px;
    font-family: Microsoft YaHei,arial;
    overflow: hidden;
    font-weight: normal;
    line-height: 14px;
    height: 14px;
}
.detail-content .dct-right .panel-samegoods .same-goods  li .info .price{
    float: left;
    height: 14px;
    font-size: 14px;
}
.detail-content .dct-right .panel-samegoods .same-goods li .info .price span {
    margin-left: 3px;

}
.detail-content .dct-right .panel-samegoods .same-goods  li .info .fav{
    float: left;
    height: 12px;
    margin-left: 20px;
}
.detail-content .dct-right .panel-samegoods .same-goods  li .info .fav em{
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../img/shop-ul.png) no-repeat 0 -200px;
}
.detail-content .dct-right .panel-samegoods .same-goods  li .info .fav span {
    color: #999;
}

/*滚动到一定位置时候给选项栏加上固定定位*/
.detail-content .dct-right .tabbar-box-box{
    height: 59px;;
}
.detail-content .dct-right .tabbar-boxfixed {
    position: fixed;
    top:0;
}
.detail-content .dct-left .shop-info .shop-namefixed {
    position: fixed;
    top:0;
    padding-right: 21px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    margin-left: -1px;
}


