*{
    padding:0;
    margin:0;
}
html,body{
    font-size:36px;
    font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei',
    'Microsoft Yahei',sans-serif;
}
ul,li{
    list-style:none;
}
a{
    text-decoration:none;
}
footer{
    background-color: #333;
    color: #fff;
}
footer .container-max{
    padding-left: 16px;
    padding-right: 16px;
    margin:0 auto;
    max-width:1010px;
}
.copyright{
    background-color: #000;
}
.copyright .container-max{
    padding-left: 16px;
    padding-right: 16px;
    margin:0 auto;
    max-width:1010px;
}

.container-max .footer-nav{
    padding: 30px 0 10px;
    margin-left:0;
    margin-bottom:0;
}
.container-max .footer-nav .max-box{
    padding:0;
    width:100%;
}
.container-max .footer-nav .max-box .nav-group{
    float: left;
    color: #777;
    font-style:normal;
}
.container-max .footer-nav .max-box .nav-group span{
    color: #d9d9d9;
    margin-top:10px;
    font-size:18px;
    line-height: 1.1;
    display:block;
}
.container-max .footer-nav .max-box .nav-group li{
    line-height: 1.42857143;
    margin-top:0;
    font-size:14px;
}
.container-max .footer-nav .max-box .nav-group li .small{
    display:block;
    font-size:85%;
    color:#777;
}
.container-max .footer-nav .max-box .nav-group li a{
    color: #777;
}
.container-max .footer-nav .max-box .nav-group li a:hover {
    transition: all .35s ease-in-out;
    color:#fff;
}
.container-max .copy-text{
    display: block;
    float: left;
    font-size: 16px;
    padding: 24px 0;
    color: #a6a6a6;
}
.container-max .copy-text a {
    color: #a6a6a6;
}
.container-max .panel-box {
    float: right;
    margin-top: 18px;
    margin-left: 18px;
}
.container-max .sns-info{
    float: right;
    margin: 13px 0;
}
.container-max .sns-info a{
    display: inline-block;
    width: 40px;
    height: 40px;
}
.container-max .sns-info i{
    display: inline-block;
    width: 40px;
    height: 40px;
}
.container-max .sns-info i:hover{
    transition: color 218ms ease;
    color:#fff;
}
.container-max .sns-info .fa{
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    color: #a6a6a6;
    position:relative;
}
.container-max .sns-info .pop-wechat {
    display:none;
    position: absolute;
    top: 151px;
    left: 598px;
    width: 128px;
    height: 163px;
    font-size:14px;
    padding: 20px 10px;
    border: 1px solid #d5d8dd;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
}
.container-max .sns-info .pop-wechat label{
    color: grey;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight:700;
    height:20px;
}
.container-max .sns-info .pop-wechat p{
    color: #a6a6a6;
    margin-bottom: 10px;
    height:20px;
}
.container-max .sns-info .pop-wechat .qr-wrapper {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background: url("../images/weixin-qr.jpg") no-repeat;
    background-size: 120px 120px;
}
.container-max .sns-info .pop-wechat:after {
    position: absolute;
    left: 68px;
    bottom: -13px;
    border: 7px solid transparent;
    border-top: 7px solid #fff;
    content: "";
}
.container-max .sns-info .pop-qq {
    display:none;
    position: absolute;
    top: 219px;
    left: 669px;
    width: 172px;
    height: 88px;
    font-size:14px;
    padding: 20px;
    border: 1px solid #d5d8dd;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
}
.container-max .sns-info .pop-qq label{
    color: grey;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight:700;
    height:20px;
}
.container-max .sns-info .pop-qq p{
    color: #a6a6a6;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    height:20px;
}
.container-max .sns-info .pop-qq .qr-wrapper {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background: url("../images/weixin-qr.jpg") no-repeat;
    background-size: 120px 120px;
}
.container-max .sns-info .pop-qq:after {
    position: absolute;
    left: 100px;
    bottom: -13px;
    border: 7px solid transparent;
    border-top: 7px solid #fff;
    content: "";
}

/*媒体查询*/

@media (min-width:1024px) {
    footer{
        height:409px;
    }
    footer .container-max{
        width:972px;
        height: 339px;
    }
    .copyright{
        min-height: 70px;
    }
    .copyright .container-max{
        width:972px;
        height: 70px;
    }
    .container-max .footer-nav .max-box{
        height:299px;
        width:100%;
    }
    .container-max .footer-nav .max-box .nav-group{
        margin-top: 0;
        margin-bottom: 10px;
        width:18.5%;
        padding-left: 1.5%;
    }
    .container-max .footer-nav .max-box .nav-group span{
        margin-bottom:20px;
    }
    .container-max .footer-nav .max-box .nav-group li{
        margin-bottom:20px;
    }
}

@media (max-width:1023px) {
    footer{
        height:696px;
    }
    .container-max{
        height: 574px;
    }
    .copyright{
        min-height:122px;
    }
    .container-max .footer-nav{
        padding: 15px 0;
    }
    .container-max .footer-nav .max-box .nav-group li .small{
        margin:0;
    }
    .container-max .footer-nav .max-box{
        height:544px;
        width:100%;
    }
    .container-max .footer-nav .max-box .nav-group:nth-child(1),
    .container-max .footer-nav .max-box .nav-group:nth-child(2){
        height: 244px;
        border-bottom: 1px dashed #6e6e6e;
    }
    .container-max .footer-nav .max-box .nav-group:nth-child(3),
    .container-max .footer-nav .max-box .nav-group:nth-child(4){
        height: 150px;
        border-bottom: 1px dashed #6e6e6e;
    }
    .container-max .footer-nav .max-box .nav-group:nth-child(5){
        width: 100%;
        height: 150px;
        border: none;
        text-align: center;
    }
    .container-max .footer-nav .max-box .nav-group{
        text-align: center;
        min-width:50%;
        padding-top: 10px;
        margin-bottom: 0;
    }
    .container-max .footer-nav .max-box .nav-group span{
        margin-bottom:10px;
    }
    .container-max .footer-nav .max-box .nav-group li{
        margin-bottom:10px;
    }
    .copyright .container-max{
        height:122px;
    }
}