/**
    @name:图片轮播页面样式
    @Author:黄典
    @Email:870003719@qq.com
    @Date:2016年6月28日
*/
html{
    font-size: 36px;
    height:100%;
}
body{
    height:100%;
    background-color: #fff;
    font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
.imgcarousel{
    position: relative;
    height: 700px;
    background-color: #383838;
    overflow: hidden;
}

/*图片轮播*/
.imgcarousel .imglunbobox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.imgcarousel .imgbox{
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    position: relative;
}
.imgcarousel .imgbox .img-wrapper{
    width: 100%;
    height:100%;
    position: absolute;
    background-color: rgba(0,0,0,0.15);
}

.imgcarousel .imgbox01{
    background-image: url(../images/hero-1st.jpg);
}
.imgcarousel .imgbox02{
    background-image: url(../images/hero-2nd@2x.jpg);
}
.imgcarousel .imgbox03{
    background-image: url(../images/hero-3rd@2x.jpg);
}

.imgcarousel .imgbox a{
    display: inline-block;
    font-size: 16px;
    margin: 0 20px;
    position: absolute;
    z-index: 2;
    bottom: 33px;
    right: 20px;
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 218ms;
    -o-transition: all 218ms;
    transition: all 218ms;
}
.imgcarousel .imgbox a:hover{
    border-bottom: 1px solid #fff;
}
.imgcarousel .imgbox a i{
    font-size: 14px;
    margin-left: 5px;
}

/*覆盖插件的css*/
.swiper-container{
    height:100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 70px;
    right: 40px;
    text-align: right;
    left:inherit;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: #FFF;
    opacity:1;
}

.swiper-pagination-bullet-active{
    background-color: #03A9F4;
}



/*上面的文字等按钮*/
.imgcarousel .i-main{
     margin: 0 auto;
    margin-top: 300px;
     width: 100%;
    position: relative;
    z-index: 2;
}
.imgcarousel .i-main .i-main-in{
    padding:0 16px;
}

.imgcarousel .i-main .intro h1{
    font-size: 1.333rem;
    margin-bottom: 20px;
    line-height: 1.3em;
    font-weight: normal;
    color: #fff;
}
.imgcarousel .i-main .btn-signup{
    display: inline-block;
    padding: 12px 26px;
    line-height: 1.33;
    background-color: #03A9F4;
    border: 1px solid #03A9F4;
    font-size: 18px;
    font-weight: 400;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all 218ms cubic-bezier(.42,0,.58,1);
}
.imgcarousel .i-main .btn-signup:hover{
    background-color: #0bcaf4;
    border: 1px solid #0bcaf4;
}
.imgcarousel .i-main .btn-watch{
    display: inline-block;
    padding: 12px 26px;
    line-height: 1.33;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 400;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all 218ms cubic-bezier(.42,0,.58,1);
}
.imgcarousel .i-main .btn-watch:hover{
    background-color: #fff;
    color: #03A9F4;
}


/*媒体查询*/

@media  (min-width: 601px) and (max-width: 991px) {

    .imgcarousel .i-main{
        margin-top: 380px;
    }
}

@media (max-width: 600px){
    .imgcarousel .i-main .intro h1{
        text-align: center;
    }

    .imgcarousel .i-main{
        margin-top: 380px;
        text-align: center;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets{
        text-align: center;
        right:0;
        bottom: 80px;
    }

}
@media (max-width: 480px){
    .imgcarousel{
        height:530px;
    }
    .imgcarousel .i-main{
        margin-top: 180px;
    }
    .imgcarousel .i-main a{

        width: 80%;
    }
    .imgcarousel .i-main .btn-signup{
        margin-bottom:20px ;
    }
}