html{
    font-size: 36px;
}
body{
    position: relative;
}

ul,li{
    list-style:none;
    margin:0;
    padding:0;
}

.nav{
    width: 100%;
    height:50px;
    /*margin:0 auto;*/
    background: #d7d7d7;
    top: 0;
    left: 0;
    z-index: 100;
    min-width: 900px;
}
.nav a{
    text-decoration: none;
    color: #6e6e6e;
}
.nav .left-nav{
    float: left;
    padding-left:16px;
}
.nav .left-nav a{
    display: block;
    width:150px;
    height:50px;
    background: url("../images/logo-enc (1).svg") no-repeat;
    background-position: 0 -29px;
    background-size: 150px 102px;
}

.nav .right-nav{
    float: right;
    height:50px;
}
.nav .right-nav .navbar-btn{
    margin:0;
    padding:0;
    float: right;
    width:298px;
    height:50px;
}
.nav .right-nav .navbar-btn li{
    display: inline-block;
    vertical-align: top;
    font-size:14px;
    height:50px;
    line-height: 50px;
}
.nav .right-nav .navbar-btn .banben a {
    display: block;
    text-align: center;
    border-radius: 3px 3px 0 0;
    width:70px;
    height: 32px;
    line-height: 34px;
    padding: 6px 0;
    padding-bottom:8px;
    font-size: 16px;
    color: #FFF;
    font-weight:bold;
    position: relative;
}
.nav .right-nav .navbar-btn .delu a{
    color: #6e6e6e;
    width:28px;
    height:20px;
    line-height:20px;
    border: 1px solid #6e6e6e;
    background-color: transparent;
    margin: 9px 0 9px 10px;
    padding: 5px 20px;
    border-radius: 3px;
    font-weight:600;
    position: relative;
}
.nav .right-nav .navbar-btn .xuce a{
    min-width: 70px;
    color: #03A9F4;
    border: 1px solid #03A9F4;
    background-color: transparent;
    margin: 9px 0 9px 10px;
    padding: 5px 20px;
    border-radius: 3px;
}
.nav .right-nav .navbar-btn .banben a i{
    position: absolute;
    right: 0;
    top: 20px;
    display: block;
    width: 5px;
    height: 5px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}
.nav .right-nav .navbar-btn .delu a:hover{
    background-color: #999;
    border-radius: 3px;
}
.nav .right-nav .navbar-btn .xuce a:hover{
    -webkit-transition: all 280ms cubic-bezier(.4,0,.2,1);
    background-color:#03A9F4 ;
    color: #fff;
}
.nav .right-nav .navbar-btn .delu a:hover{
    -webkit-transition: all 280ms cubic-bezier(.4,0,.2,1);
    background-color:#fff;
    color:#03A9F4;
}


/*导航右边 的左边的导航*/
.nav .right-nav .navbar-nav{
    float: right;
    width:365px;
    height:32px;
    margin:9px 10px;
    padding: 0;
    line-height:32px;

}
.nav .right-nav .navbar-nav li{
    float: left;
    font-size:16px;
    width:73px;
    height:50px;
    line-height:50px;
    text-align: center;
    font-weight:bold;
}
.nav .right-nav .navbar-nav li a{
    display: block;
    height:32px;
    line-height:32px;
    color: #FFF;
}
.nav .right-nav .navbar-nav li a:hover {
    background-color: #999;
    border-radius: 3px;
}
/*中文版的下拉菜单设置*/
.nav .right-nav  .banben-list{
    width:110px;
    height:101px;
    position: absolute;
    top: 49px;
    right: 205px;
    display: none;
}
.nav .right-nav  .banben-list li{
    width:110px;
    height:32px;
    background: #999;
}
.nav .right-nav .banben-list li a{
    display: block;
    width:110px;
    height:32px;
    line-height:32px;
    color: #FFF;
    font-size:16px;
    text-align: center;
}
.nav .right-nav .banben-list li a:hover{
    background-color: #666666;
}