
.liangpin{
	width: 960px;
	margin: 0 auto;
	margin-top: 80px;
	height: 547px;

}
.liangpin .title{
	width: 960px;
	height: 32px;
	margin: 15px 0;
}
.liangpin .title .text{
	width: 186px;
	height: 32px;
	background: url(../img/liangpin.png) no-repeat center center;
	float: left;
	padding: 0 15px;
}
.liangpin .title .titlebg{
	width: 372px;
	height: 11px;
	background: url(../img/titlebg.png) repeat-x 0px -13px ;
	float: left;
	margin-top: 11px;
}

.liangpin .left{
	width: 223px;
    border: 1px solid #ddd;
    height: 498px;
    overflow: hidden;
    float: left;
    background-color: #fff;
}
.liangpin .left .left-img{
	background-color: #fbfbfb;
	height: 393px;
	float: left;
	width: 223px;
	margin-bottom: 10px;

}
.liangpin .left img{
	width: 176px;
	height: 176px;
	margin: 17px auto 7px;
	display: block;
}
.liangpin .left .text{
	width: 210px;
	margin: 0 auto;
	display: block;
}

.liangpin .left .text li{
	float: left;
	width: 70px;
	height: 30px;
	text-align: center;
}
.liangpin .left .text a{
	font-size: 12px;
	text-decoration: none;
	color: #333;
	padding:3px;

}
.liangpin .left .text a:hover{
	border: 1px solid #ddd;
}

.liangpin .right .right-top{
	
	height: 330px;
	margin-left: 60px;
	float: left;
}
.liangpin .right .right-top img{
	width: 305px;
	height: 330px;
	float: left;
	margin-right: 30px;
}

.liangpin .right .right-down{
	width: 640px;
	height: 150px;
	margin-left: 60px;
	float: left;
	margin-top: 20px;
}
.liangpin .right .right-down div{
	width: 305px;
	height: 150px;
	float: left;
}
.liangpin .right .right-down img{
	width: 130px;
	height: 150px;
	float: left;
}
.liangpin .right .right-down .down-right{
	margin-left: 30px;
}
.liangpin .right .right-down .text{
	float: right;
	width: 165px;
	margin-top: 50px;
	font-size: 14px;
	color: #333;
}
.liangpin .right .right-down .text .s2{
	display: block;
	margin-top: 10px;
	color: #999;
}