
.search .d-logo{
	float: left;
	width: 250px;
	height: 117px;
}

.search .d-logo a{
	margin-top: 37px;
	float: left;
}

/*搜索大框*/
.search .d-search{
	float: left;
	width: 502px;
	height: 59px;
	margin-top: 40px;
	padding-left: 22px;
}
.search .d-search .s-box{
	position: relative;
	border: 1px solid #3a3a3a;
}
/*搜索框左边 商品*/
.search .d-search .s-box .soushangp{
	width:70px;
	display: inline-block;
	position: relative;
}
.search .d-search .s-box span{
	color: #666;
	font-size: 12px;
	padding-left: 10px;
	line-height: 34px;
	height:33px;
	display: inline-block;
	padding-right: 12px;
	background: url(../img/xiaotubiao.png) no-repeat 51px -17px;
}
.search .d-search .s-box .soushangp ul{
	position: absolute;
	top: 100%;
	left: -1px;
	width: 70px;
	background: #fff;
	border: 1px solid #cecece;
	border-top: 1px solid #3a3a3a;
	display: none;
}
.search .d-search .s-box .soushangp a{
	display: block;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	color: #333;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}
.search .d-search .s-box .soushangp a:hover{
	background: #F2F2F2;
}




/*搜索框中间*/
.search .d-search .s-box .itext{
	width: 328px;
	padding: 6px 10px 6px 6px;
	line-height: 20px;
	height:21px;
	outline: none;
	border: none;
	color: #999;


}
.search .d-search .s-box .itext-xia{
	position: absolute;
	left: -1px;
	top: 33px;
	width: 500px;
	min-height: 100px;
	z-index: 999;
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #cecece;
	border-top: 1px solid #3a3a3a;
	display: none;
}
.search .d-search .s-box .itext-xia p{
	padding: 10px;
	color: #999;
	height: 16px;
	line-height: 16px;
}
.search .d-search .s-box .itext-xia p a{
	float: right;
	color: #666;
}
.search .d-search .s-box .itext-xia .itext-xiap2:hover{
	background:#F2F2F2 ;
}
.search .d-search .s-box .itext-xia .itext-xiap2 a{
	text-decoration: none;
}


/*搜索框右边图标*/
.search .d-search .s-box .ibtn{
	width: 70px;
	background: #3a3a3a url(../img/xiaotubiao.png) no-repeat 27px -57px ;
	height: 33px;
	border: none;
	overflow: hidden;
	padding:0;

}

/*搜索框 下面的文字*/
.search .d-search .s-text a{
	text-decoration: none;
	font-size: 12px;
	color: #999;
	padding:7px 5px;
	display: inline-block;
}
.search .d-search .s-text a:visited{
	text-decoration: none;
	font-size: 12px;
	color: #999;
}
.search .d-img{
	float: right;


}