html,body{
    height:100%;
}
.containe{
    height:100%;
    min-width: 320px;
    background: #fff;
    font-family: arial;
}
a{
    text-decoration: none;
    color: #545454;
}
/*头部开始*/
.containe .header{
    width:100%;
    height:44px;
    background: #3e98f0 url(../images/bg-news-logo_344ce44.png) no-repeat center 6px;
    background-size: 77px auto;
    -webkit-background-size: 77px auto;
}
.containe .header a{
    float: left;
    width: 34px;
    height: 100%;
    font-size: 15px;
    line-height: 44px;
    background: url(../images/bg-new-toolbar_6e9bc53.png) no-repeat ;
    background-size: 40px 500px;
    -webkit-background-size: 40px 500px;
}
.containe .header a.h-du{
    background-position: center 4px;
}
.containe .header a.h-ren{
    background-position: center -463px;
    margin-left: 10px;
}
.containe .header a.h-sou{
    float: right;
    background-position: center -162px;
    margin-right: 10px;
}
.containe .header a.h-jia{
    float: right;
    background-position: center -107px;
}
/*头部结束*/
/*导航栏开始*/
.containe .nav{
    width: 100%;
    height:216px;
    height:75px;
    background-color: #3e98f0;
    overflow: hidden;
}
.containe .nav .n-hr{
    height: 1px;
    margin: 0 10px;
    background-color: #5dabf0
}
.containe .nav .n-main{
    padding-top: 3px;
    padding-bottom: 5px;
}
.containe .nav .n-main .nm-row{
    width: 100%;
    height: 33px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-align: center
}
.containe .nav .n-main .nm-row .row17{
    float: left;
    width: 17%;
    color: #fff;
    position: relative;
}
.containe .nav .n-main .nm-row .row16{
    float: left;
    width: 16%;
    color: #fff;
    position: relative;
}
.containe .nav .n-main .nm-row .row32{
    float: left;
    width: 32%;
    color: #fff;
    position: relative;
}
.containe .nav .n-main .nm-row .row34{
    float: left;
    width: 34%;
    color: #fff;
    position: relative;
}
.containe .nav .n-main .nm-row span{
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    color: #fff;
    white-space: nowrap;
    margin: 0 2px;
}
.containe .nav .n-main .nm-row span.cur{
    border-bottom: 1px solid #fff;
}
.containe .nav .n-main .nm-row b{
    position: absolute;
    top: 10px;
    left: 0;
    height: 12px;
    width: 1px;
    display: block;
    overflow-y: hidden;
    background-color: #5dabf0;
}
.containe .nav .n-main .nm-row a:first-child b{
    display: none;
}

.containe .nav .n-footer{
    height: 41px;
    background-color: #3e98f0;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
}
.containe .nav .n-footer .nf-left{
    float: left;
    margin-top: 6px;
}
.containe .nav .n-footer .nf-left a{
    float: left;
    padding-right: 10px;
    margin-left: 10px;
    text-align: left;
    color: #fff;
    position: relative;
}
.containe .nav .n-footer .nf-left a b{
    display: block;
    position: absolute;
    top: 9px;
    left: -11px;
    height: 12px;
    width: 1px;
    background-color: #5dabf0;
}
.containe .nav .n-footer .nf-right{
    float: right;
    width: 52px;
    margin-top: 6px;
    margin-right: 8px;
    padding-right:4px;
    color: #fff;
    position: relative;

}
.containe .nav .n-footer .nf-right span{
    display: inline-block;
    position: absolute;
    right: 4px;
    top: 14px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}
/*导航上的更多*/
.containe .nav .more-down{
    position: relative;
}
.containe .nav .more-down .more{
    position: absolute;
    left: 1px;
    bottom: 0;
    top: 0;
    right: 0;
    overflow-y: hidden;
    background-color: #3e98f0;
    color: #fff;
    text-align: center;
}
.containe .nav .more-down .more span{
    display: inline-block;
    position: absolute;
    right: 2px;
    top: 14px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}
/*导航栏结束*/

/*图片轮播*/
.containe .banner{
    margin: 10px 10px 0 10px;
    height:190px;
    overflow: hidden;
}
.containe .bannerbox{

    margin-right: -10px;
}
.containe .banner .b-imgboxbox{
    margin-right: 10px;
}
.containe .banner .img-box{
    display: block;
    position: relative;
}

.containe .banner img{
    width: 100%;
    height:187px;
    vertical-align: middle;
}
.containe .banner .img-title{
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: rgba(0,0,0,.8);
}
.containe .banner .img-title span{
    padding-left: 8px;
}
/*自己写的样式覆盖组件原来的*/
.containe .banner .swiper-imglunbo{
    overflow: visible;
}
.containe .banner .swiper-pagination-bullet{
    background: #ddd;
    opacity: 1;
}
.containe .banner .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0;
}
.containe .banner .swiper-pagination-bullet-active{
    background: #3e98f0;
}

.containe .banner .swiper-pagination-bullet{
    width: 25%;
    height: 3px;
    border-radius: 0;
}
.containe .banner .swiper-container-horizontal>.swiper-pagination-bullets,.containe .banner .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -6px;
}

/*热点新闻文字滚动*/
.containe .hotnews{
    height: 28px;
    background-color: #f8f9fa;
    overflow: hidden;
    margin: 10px 10px 0;
}
.containe .hotnews .h-icon{
    float: left;
    width: 36px;
    height: 28px;
    background-color: #e02f2f;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
}
.containe .hotnews .h-text{
    float: left;
    height: 28px;
    line-height: 28px;
    font-size: 15px;
    margin-left: 6px;
    color: #545454;
    width:85%;
}
.containe .hotnews .h-text span{

    float: left;
}
.containe .hotnews .h-text b{
    float: left;
    width: 13px;
    height: 28px;
    background: url(../images/arrorw-right_dde8906.png) no-repeat;
    -webkit-background-size: 9px 12.5px;
    background-size: 9px 12.5px;
    background-position: 50% 50%;
    margin-left: 2px;
}
/*要给那个组件的最外层设置一个高度*/
.swiper-hotnews{
    height:28px;
}

/*主体新闻部分*/

.containe .main .m-list{
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
    padding: 10px 0;
    margin: 0 10px;
}

/*图片在左边的*/
.containe .main .m-list .ml-leftimg{
    float: left;
    width: 95px;
    height: 68px;
    vertical-align: middle;
    border: 1px solid #e8e8e8;
    margin-right: 10px;
    background-color: #F4F7F9;
}
.containe .main .m-list .ml-leftimg img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.containe .main .m-list .ml-text{
    height: 40px;
    overflow: hidden;
    max-height: 40px;
}
.containe .main .m-list .ml-text .t-title{
    font-size: 16px;
    line-height: 20px;
    color: #262b31;
    margin: -1px 0 4px 0;
}
.containe .main .m-list .ml-text .t-subtitle{
    font-size: 13px;
    line-height: 20px;
    color: #b8bac0;
    font-weight: 400;
}
.containe .main .m-list .t-info{
    font-size: 13px;
    line-height: 20px;
    color: #b8bac0;
    font-weight: 400;
    overflow: hidden;
    margin-top: 10px;
}

.containe .main .m-list .t-info .info-time{
    float: left;
}
.containe .main .m-list  .t-info .info-source{
    float: right;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #fff;
    padding: 1px 2px;
    border-radius: 2px;
    margin-top: 1px;
    margin-left: 10px;
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #e02f2f;
    border: 1px solid transparent;
}

/*图片在下面的*/
.containe .main .m-list .ml-title{
    max-height: 40px;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    color: #262b31;
    margin: -1px 0 4px 0;
}
.containe .main .m-list .ml-downimg{
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
}
.containe .main .m-list .ml-downimg .ml-downimgbox{
    margin-right: -7px;
}
.containe .main .m-list .ml-downimg .imgboxbox{
    float: left;
    width: 33.33%;
    overflow: hidden;
    max-height: 111px;
}
.containe .main .m-list .ml-downimg .imgbox{
    margin-right: 7px;
    border: 1px solid #e8e8e8;
}

.containe .main .m-list .ml-downimg .imgbox img{
    width: 100%;
    display: block;
}

/*点击加载更多*/
.containe .main .m-list:last-child{
    border-bottom: 0;

}
.containe .dianmore{
    height: 36px;
    line-height: 36px;
    background-color: #f8f9fa;
    text-align: center;
    border: 1px solid #ebedef;
    border-radius: 1px;
    color: #545454;
    margin: 14px 40px;
}

/*回到顶部*/
.containe .gotop{
    width: 38px;
    height: 40px;
    background: #7f7f7f url(../images/gotop.png) no-repeat center center;
    background-size:38px 40px ;
    color: #fff;
    cursor: pointer;
    opacity: .9;
    position: fixed;
    right: 10px;
    bottom: 190px;
    z-index: 10;
    display: none;

}
.containe .feedback{
    width: 38px;
    height: 40px;
    background: #7f7f7f url(../images/fankui.png) no-repeat center center;
    background-size: 38px 40px;
    color: #fff;
    cursor: pointer;
    opacity: .9;
    position: fixed;
    right: 10px;
    bottom: 140px;
    z-index: 10;
    display: none;

}

