html,body{
    width:100%;
}
img{
    display: black;
}
.containe{
    min-width: 320px;
    font-family: arial;
}
/*头部*/
.containe .header{
    height:44px;
    background: #3e98f0;
}
.containe .header .back{
    float: right;
    width:34px;
    height:100%;
    background: url(../images/bg-new-toolbar_6e9bc53.png) no-repeat center -216px;
    background-size: 40px 500px;
    -webkit-background-size: 40px 500px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
/*用户*/
.containe .user{
    padding: 5px 0 25px;
    background-color: #239bf0;
}
.containe .user .photo{
    text-align: center;
}
.containe .user .photo .imgwrapper{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    overflow: hidden;
    border: 2px solid #fff;
}
.containe .user .photo .imgwrapper img{
    width:100%;
}
.containe .user .u-name{
    margin-top: 22px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 24px;
}
/*主体内容*/
.main{
    width:100%;
    background: #fff;
}
.main .option{
    margin: 0 10px 0 20px;
    padding: 16px 0;
    color: #797979;
    padding-left: 5px;
    border-bottom: 1px solid #f6f6f6;
    font-size: 14px;
    line-height: 18px;
}
.main .option i{
    display: inline-block;
    width: 30px;
    height: 27px;
    background: url(../images/login-icon.png) no-repeat;
    background-size: 32px auto ;
    -webkit-background-size: 32px auto;
    margin-right: 20px;
    vertical-align: -7px;
}
.main .option span{
    display: inline-block;
    float: right;
    width: 30px;
    height: 27px;
    vertical-align: -7px;
    margin-right: 17px;
    background: url(../images/login-icon.png) no-repeat 1px -271px;
    background-size: 32px auto ;
    -webkit-background-size: 32px auto;
}

.main .wd i{
    background-position: -2px -3px;
}
.main .sc i{
    background-position: -2px -56px;
}
.main .xq i{
    background-position: 0 -334px;
}
.main .tc{
    border-bottom: 0;
}
.main .tc i{
    background-position: -1px -347px;
    background-size: 36px auto;
}
.main .wt i{
    background-position: -2px -120px;
}
.main .hd{
    border-bottom: 0;
}
.main .hd i{
    background-position: -2px -173px;
}

.main .option .gouxuan{
    background-position: 1px -221px;
}

.main .cutting-line{
    height: 5px;
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #efefef;
    box-sizing: border-box;
}