html,body{
    width:100%;
}
img{
    display: black;
}
input{
    margin: 0;
    padding:0;
    outline: none;
    border:none;
}
.containe{
    min-width: 320px;
    font-family: arial;
}
/*头部*/
.containe .header{
    height:44px;
    background: #3e98f0;
    text-align: center;
    font-weight: 400;
    color: #fff;
    position: relative;
}
.containe .header .back{
    float: left;
    width:34px;
    height: 100%;
    background: url(../images/bg-new-toolbar_6e9bc53.png) no-repeat center -216px;
    background-size: 40px 500px;
    -webkit-background-size: 40px 500px;
    position: absolute;
    top:0;
    left:0;
}
.containe .header .title{
    display: inline-block;
    font-size: 18px;
    line-height: 44px;
}
/*搜索框*/
.containe .searchbox{
    padding:10px;
    height:36px;
    overflow: hidden;
}
.containe .search{
    height:34px;
    border: 1px solid #ececec;
    padding-left: 38px;
    background: url(../images/bg-simple-searchbox_fc34bc7.png) no-repeat 9px 6px ;
    background-size: 25px 75px;
    -webkit-background-size: 25px 75px
}
.containe .search input{
    width:100%;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    color: #b8bac0;
}
/*订阅主要内容*/
.containe .main{
    margin: 0 10px;
}
.containe .main .m-nav{
    margin-top: 6px;
    overflow: hidden;
}
.containe .main .m-nav a{
    float: left;
    width:20%;
    text-decoration: none;
    color: #333;
    line-height: 26px;
    font-size: 16px;
}
.containe .main .m-nav .exchange{
    text-align: right;
    font-size: 14px;
    color: #239bf0;
}
.containe .main .m-nav .cur{
    color: #239bf0;
}
    /*分割线*/
.containe .main .line-container{
    margin-top: 10px;
    height:1px;
    border-bottom: 1px solid #f2f2f2;
   position: relative;
}
.containe .main .line-container .line{
    height: 2px;
    width: 36px;
    background-color: #239bf0;
    position: absolute;
    top:0;
    left:0;
    margin-left: -2px;
}
/*媒体主体*/
.containe .main .m-box .media{
    overflow: hidden;
    display: none;
    min-height: 200px;
}
.containe .main .m-box .media:nth-child(1){
    display: block;
 }
.containe .main .m-box .media .item-box{
    float: left;
    width: 50%;
    height: 46px;
    border-bottom: 1px solid #f6f6f6;
}
.containe .main .m-box .media .item-box{
    float: left;
    width: 50%;
    height: 46px;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
}
.containe .main .m-box .media .item-box a{
    display: block;
    text-decoration: none;
    height:45px;
    line-height: 45px;
    font-size: 16px;
    color: #4f5256;
    position: relative;

}
.containe .main .m-box .media .item-box:nth-child(2n+1) a{
    border-right: 1px solid #f6f6f6;
}
.containe .main .m-box .media .item-box:nth-child(2n) a{
    margin-right: -8px;
}
.containe .main .m-box .media .item-box span{
    display: block;
    height: 16px;
    overflow: hidden;
    padding: 15px 0 15px 0px;
    margin-right: 38px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 16px;
    color: #4f5256;
}
.containe .main .m-box .media .item-box:nth-child(2n) span{
    margin-left: 8px;
}

.containe .main .m-box .media .item-box a .jia{
    position: absolute;
    top:0;
    right:0;
    height:46px;
    width: 36px;
    background: url(../images/bg-subscribe_3be23c4.png) no-repeat right -29px;
    background-size: 30px 300px;
    -webkit-background-size: 30px 300px
}
.containe .main .m-box .media .item-box a .dingyue{
    background-position: right -75px;
}

/*最下面的管理我的啥*/
.containe .main .m-manage{
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 30px;
    background-color: #239bf0;
    color: #fff;
}
