*{
    margin: 0;
    padding:0;
}
html,body{
    height:100%;
    width: 100%;
}
img{
    vertical-align: middle;
}
.section{
    height:100%;
    width: 100%;
}
/*第一屏*/
.first{
    overflow: hidden;
    text-align: center;
}
.first .logo{
    width: 251px;
    height:186px;
    background: url(../images/logo.png) no-repeat;
    margin: 0 auto;
    margin-top: 80px;
}

.first .text{
    margin-top: 80px;
}
.first .info{
    margin-top: 50px;
}

/*第一屏特效*/
@keyframes myfirst
{
    from { margin: 0 16px;}
    to {margin: 0;}
}
.active .text img{
    animation: myfirst 2s;
}

/*第二屏*/
.second > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.second .box{
    overflow: hidden;
}
.second .left-img{
   width: 410px;
    height:486px;
}
.second .left-img img{
    float: left;
}
.second .info{
    width: 635px ;
    height: 310px;
    background: url(../images/info_2.png) no-repeat;
}

/*第二屏特效*/
.second .left-img img:nth-child(1){
    transform: translate(-30px, -30px) rotate(-30deg);
}
.second .left-img img:nth-child(2){
    transform: translate(100px, -200px) rotate(40deg);
}
.second .left-img img:nth-child(3){
    transform: translate(100px, 100px) rotate(80deg);
}
.second .left-img img:nth-child(4){
    transform: translate(-30px, -30px) rotate(-50deg);
}
.second .left-img img:nth-child(5){
    transform: translate(100px, 100px) rotate(-90deg);
}
.second .left-img img:nth-child(6){
    transform: translate(100px, 100px) rotate(30deg);
}
.second .left-img img:nth-child(7){
    transform: translate(-30px, -30px) rotate(-30deg);
}
.second .left-img img:nth-child(8){
    transform: translate(100px, 100px) rotate(80deg);
}
.second .left-img img:nth-child(9){
    transform: translate(-80px, -80px) rotate(-20deg);
}
.second .left-img img{
    transition: all 1s ease-in-out 1s;
}



.active .fp-tableCell .left-img img{
   transform: translate(0, 0) rotate(0);
    transition: all 1s ease-in-out;
}

/*第三屏*/
.third{
    overflow: hidden;
}
.third > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.third .info{
    width: 631px ;
    height: 278px;
    background: url(../images/info_3.png) no-repeat;
}
.third .right-img{
    width: 453px ;
    height: 449px;
    background: url(../images/circle.png) no-repeat;
    position: relative;
}
.third .rocket{
    width: 203px ;
    height: 204px;
    position: absolute;
    top:125px;
    left:123px;
    background: url(../images/rocket.png) no-repeat;
}

/*第三屏特效*/
.third .rocket{
    top:725px;
    left:-523px;
    transition: all 1s ease-in-out 1s;
}
.active .fp-tableCell .rocket{
    top:125px;
    left:123px;
    transition: all 1s ease-in-out;
}


/*第四屏*/
.fourth{

}
.fourth > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fourth .info{
    width: 612px ;
    height: 299px;
    background: url(../images/info_4.png) no-repeat;
}

.fourth .left-img{
    overflow: hidden;
}
.fourth .left-img .search{
    width: 529px ;
    height: 66px;
    background: url(../images/search.png) no-repeat;
    position: relative;
    transform: translateX(-100%);
}
.fourth .left-img .search .s-key{
    /*width: 99px ;*/
    width: 4px;
    height: 22px;
    background: url(../images/key.png) no-repeat;
    position: absolute;
    top:23px;
    left:18px;
    z-index: 2;
}
.fourth .left-img .moviebox{
    width: 529px ;
    height: 372px;
   overflow: hidden;
}

.fourth .left-img .movie{
    width: 529px ;
    height: 372px;
    background: url(../images/result.png) no-repeat;
    transform: translateY(-100%);
}

/*第四屏特效*/
.active .left-img .search {
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.active .left-img .movie {
    transform: translateY(0);
    transition: all .5s ease-in 3.3s;
}
.active .left-img .search .s-key{
    animation: showkey 2s steps(5) 1.3s forwards;
}

@keyframes showkey {
    from{
        width: 4px;
    }

    to{
        width: 99px;
    }
}



/*.active .left-img .search .s-key{*/
    /*animation: showkey01 0.4s 1.3 forwards ;*/
/*}*/
/*.active .left-img .search .s-key{*/
    /*animation: showkey02 0.4s 1.3 forwards ;*/
/*}*/

/*@keyframes showkey01 {*/
    /*from{*/
        /*width: 7px;*/
    /*}*/

    /*to{*/
        /*width: 23px;*/
    /*}*/
/*}*/
/*@keyframes showkey02 {*/
    /*from{*/
        /*width: 23px;*/
    /*}*/

    /*to{*/
        /*width: 42px;*/
    /*}*/
/*}*/





/*@keyframes showkey*/
/*{*/
    /*0%   {width: 7px;}*/
    /*20%   {width: 23px;}*/
    /*40%   {width: 42px;}*/
    /*60%   {width: 59px;}*/
    /*80%   {width: 78px;}*/
    /*100%   {width: 99px;}*/

/*}*/