*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}
img{
    /*vertical-align: middle;*/
    display: block;
    border:0;       /*ie9上图片有2px的边框*/
}

input{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul,li{
    list-style: none;
}

.container{
    font-family: "微软雅黑";
    font-size: 14px;
    overflow: hidden;
    min-width: 900px;
    background: #fff;
    color:#9f9f9f;
}
/*头部开始*/
.header{
    width: 100%;
    height:108px;
    background: #4a4a4a;
    overflow: hidden;
}
.header .logo{
    width: 106px;
    height: 18px;
    margin-top: 45px;
    margin-left: 83px;
    float: left;
}
.header .menu{
    margin-left: 24px;
    height: 108px;
    line-height: 108px;
    overflow: hidden;
    float: left;
}
.header .menu a{
    float: left;
    color: #fff;
    padding: 0 10px;
    border-top:3px solid #4a4a4a;
}
.header .menu a.active{
    border-top:3px solid #46ad8f;
}
.header .share{
    float: right;
    margin-right: 80px;
    margin-top: 44px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.header .share a{
    display: inline-block;
    margin: 0 6px;
}
.header a:hover{
    text-decoration: underline;
}

/*头部结束*/

/*项目描述开始*/
.description{
    width:100%;
    height:400px;
    background: #f7f7f7;
    border-bottom:5px solid #e5e4e4;
    overflow: hidden;
}
.description .d-text{
    width: 570px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.d-text h1{
    color: #4a4a4a;
    margin: 0 auto;
    margin-top: 95px;
    width: 385px;
}
.d-text p{
    margin-top: 45px;
    color:#9f9f9f;
    line-height: 1.5;
}
.d-text .d-info{
    overflow: hidden;
    width: 475px;
    margin: 0 auto;
}
.d-text .d-info p{
    /*display: inline-block;*/
    float: left;
    margin-top: 40px;
    margin-right: 20px;
}
.d-text p span{
    color: #46ad8f;
}
.d-text .d-info span{
   margin-left: 5px;
}


/*项目描述结束*/

/*项目展示开始*/
.presentation{
    width: 100%;
    height:1717px;
    overflow: hidden;
}
.presentation .p-main{
    width: 940px;
    margin: 0 auto;
    margin-top: 80px;
    overflow: hidden;
    padding:0 90px;
}
.p-main .p-left{
    float: left;
    width: 293px;
    margin-right: 30px;
    /*overflow: hidden;*/
}

.p-main .p-left h2{
    color: #4a4a4a;
}
.p-main .p-left p{
    margin-top: 37px;
    width: 280px;
    line-height: 1.5;
}
.p-main p span{
    color: #46ad8f;
}
.p-main .p-left .p-line{
    width: 100%;
    height:2px;
    background: #ecebeb;
    margin-top: 65px;
    margin-bottom: 60px;
}
.p-main .p-left .p-author{
    width: 185px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
}
.p-main .p-left .p-author .picture{
    width: 66px;
    height:66px;
    border-radius: 50%;
    /*background: #0C4D8B;*/
    overflow: hidden;
    float: left;
}
.p-main .p-left .p-author .picture img{
    width: 100%;
    height:100%;
}
.p-main .p-left .p-author .name{
    float: left;
    margin-left: 10px;

}
.p-main .p-left .p-author .name p{
    width: auto;
    margin-top: 10px;
    color:#333333;
    font-weight: 600;
}
.p-main .p-left .p-author .name a{
    color: #46ad8f;
}
.p-main .p-left .p-line2{
    width: 100%;
    height:2px;
    background: #ecebeb;
    margin-top: 40px;
    margin-bottom: 60px;
}
.p-main .p-left .p-share{
    margin-top: 32px;
    height:100px;
}
.p-main .p-left .p-share a{
    float: left;
    margin-right: 10px;
    position: relative;
}
/*分享下拉*/
.p-main .p-share a .p-fllow{
    position: absolute;
    top:51px;
    left:-66px;
    z-index: 2;
    width: 164px;
    height:46px;
    line-height: 46px;
    color:#f7f7f7;
    background: #4a4a4a;
    text-align: center;
    font-size: 12px;
    display: none;
}
.p-main .p-share a .p-fllow span{
    position: absolute;
    top:-14px;
    left:75px;
    width: 0px;
    height:0px;
    border-top:7px solid transparent;
    border-bottom:7px solid #4a4a4a;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
}


.p-main .p-right{
    float: left;
    width: 617px;
    overflow: hidden;
}
.p-main .p-right .p-img{
    width: 617px;
    height:461px;
    background: yellowgreen;
    margin-bottom: 42px;
}
.p-main .p-right .p-img img{
    width: 100%;
    height:100%;
}

/*项目展示结束*/

/*类似的项目开始*/

.similar{
    width: 100%;
    height: 522px;
    background: #46ad8f;
    overflow: hidden;
    text-align: center;
}
.similar .s-left{
    float: left;
    overflow: hidden;
    width: 33.33%;
    height:100%;
    background: #3d776a;
    cursor: pointer;
}
.similar .s-center{
    float: left;
    overflow: hidden;
    width: 33.33%;
    height:100%;
}
.similar .s-right{
    float: left;
    overflow: hidden;
    width: 33.33%;
    height:100%;
    background: #389497;
    cursor: pointer;
}



.similar .s-shang{
    text-align: right;
    margin-right: 60px;
    margin-top: 170px;
    color: #fff;
    font-size: 16px;
}
.similar .s-shang span{
    display: inline-block;
    width: 20px;
    height: 10px;
    background: url(../img/Previous-slide-btn.png) no-repeat center;
    margin-right: 5px;
    vertical-align: 3px;
}

.similar .s-xia{
    margin-left: 60px;
    margin-top: 170px;
    color: #fff;
    font-size: 16px;
}
.similar .s-xia span{
    display: inline-block;
    width: 20px;
    height: 10px;
    background: url(../img/Next-slide-btn.png) no-repeat center;
    margin-left: 5px;
    vertical-align: 3px;
}
.similar .s-title{
    color: #fff;
    font-size: 40px;
    text-align:center;
    margin-top: 50px;
}


/*中间的*/


.similar .s-center .s-ct{
    margin-top: 170px;
    color: #fff;
    font-size: 16px;
}
.similar .s-center p{
    margin-top: 85px;
    color: #fff;
}
.similar .s-center .s-cm{
    display: block;
    margin:0 auto;
    margin-top: 30px;
    color: #fff;
    width: 186px;
    height:44px;
    line-height: 44px;
    border:2px solid #fff;
    border-radius: 22px;
    cursor: pointer;
}
/*类似的项目结束*/



/*页脚开始*/

.footer{
    width: 100%;
    height: 275px;
    background: #4a4a4a;
    color: #fff;
    overflow: hidden;
}
.footer .f-main{
    width: 440px;
    margin: 0 auto;
    overflow: hidden;
}
.footer .f-main .f-menu{
    width: 274px;
    margin: 0 auto;
    margin-top: 80px;
    overflow: hidden;
}
.footer .f-main .f-menu a{
    float: left;
    color: #fff;
    margin: 0 10px;
}
.footer .f-main .f-share{
    width: 165px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 40px;

}
.footer .f-main .f-share a{
    display: inline-block;
    margin: 0 6px;
}
.footer .f-main .f-text{
    width: 440px;
    margin: 0 auto;
    margin-top: 40px;
}
.footer a:hover{
    text-decoration: underline;
}

/*页脚结束*/